body {
    font-family: sans-serif;
}

nav ul {
    display: flex;
    padding-left: 0;
}

nav li {
    margin-right: 1em;
    list-style: none;
}

nav a {
    text-decoration: none;
}

header {
    background-color: rgb(8, 28, 89;
    color: white;
}

header a {
    color: white;
    /* rgb(223,22,41) red rgb(255,179,16)yellow */
}