body {
    font-family: sans-serif;
}

nav ul {
    display: flex;
    padding-left: 0;
}

nav li {
    margin-right: 1em;
    list-style: none;
}

nav a {
    text-decoration: none;
}

nav {
    background-color: rgb(223, 22, 41);
    padding: 1em;
}

header,
footer {
    background-color: rgb(8, 28, 89);
    color: white;
    padding-top: 1em;
    padding-left: 1em;
}

header a {
    color: white;
    /* rgb(223,22,41) red rgb(255,179,16)yellow */
}

#wrapper {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}