nav ul li {
    display: inline;
}

ul {
    margin-right: 1em;
}

nav ul a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    opacity: .5;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: blue;
}

nav {
    align-items: center;
}

body {
    font-family: sans-serif;
}

img {
    display: block;
    width: 150px;
}

h1 {
    color: white;
    margin-left: 1em;
}

h3 {
    margin-top: 3em;
}

tr {
    text-align: left;
}

table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table td,
table th {
    border: 1px solid #ddd;
    padding: 8px;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: blue;
    color: white;
}

.success {
    color: green;
}

.flex {
    display: flex;
    justify-content: space-evenly;
}

main {
    width: 85%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: #ddd;
}

img {
    align-self: center;
    margin-bottom: 1em;
}

#inc {
    width: 80px;
}

#hal {
    width: 185px;
}