body {
    font-family: sans-serif;
}

img {
    display: block;
    width: 150px;
}

h3 {
    margin-top: 3em;
}

tr {
    text-align: left;
}

table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table td,
table th {
    border: 1px solid #ddd;
    padding: 8px;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: blue;
    color: white;
}

.success {
    color: green;
}